* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #f2f2f2;
    text-align: center;
}

header {
    background-color: #1f1f1f;
    color: white;
    padding: 25px;
}

.profile-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    border: 4px solid #1f1f1f;
}

section {
    background: white;
    margin: 20px auto;
    padding: 25px;
    width: 90%;
    max-width: 650px;
    border-radius: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: #1f1f1f;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: #444;
}

ul {
    text-align: left;
    display: inline-block;
}

footer {
    background: #1f1f1f;
    color: white;
    padding: 12px;
    margin-top: 30px;
}
